.viewport {
	width: auto;
	height: 100px;
	margin-left: 70px;
}
.icon {
	width: 200px;
	float: left;
	height: 70px;
}
.logo {
	color: #ff7200;
	font-size: 35px;
	padding-left: 20px;
	float: left;
	padding-top: 10px;
}
.menu {
	width: 400px;
	height: 70px;
	float: left;
}
ul {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
ul li {
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 14px;
}

ul>li>a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
ul>li>a:hover {
	color: #ff7200;
}
.search {
	width: 330px;
	float: left;
	margin-left: 300px;
	margin-top: 25px;
}
.srch {
	font-family: 'Times New Roman';
	width: 200px;
	height: 40px;
	background: transparent;
	border: 1px solid #ff7200;
	margin-top: 13px;
	color: #fff;
	border-right: none;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.btn {
	width: 100px;
	height: 40px;
	background: #ff7200;
	border: 2px solid #ff7200;
	margin-top: 13px;
	color: #fff;
	font-size: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn:focus {
	outline: none;
}
.srch:focus {
	outline: none;
}

.container {
	background-color: #03001f;
	color: #fff;
	font-family: Arial;
	margin-top: 60px;
    padding-left: 90px;
    padding-bottom: 90px;
    padding-right: 90px;
    padding-top: 40px;
    letter-spacing: 1px;
    height: 450px;
    width: auto;
}
h1 {
	text-align: center;
	font-size: 35px;
}
.descrived {
	width: 700px;
	float: left;
}
.descrived h2{
	color: #ff7200;
}

img {
	height: 250px;
	width: 450px;
	margin-left: 100px;
}

