.container {
	background-color: #03001f;
	color: #fff;
	font-family: Arial;
	margin-top: 60px;
    padding-left: 90px;
    padding-bottom: 90px;
    padding-right: 90px;
    padding-top: 40px;
    letter-spacing: 1px;
    height: 350px;
    width: auto;
}
h1 {
	text-align: center;
	font-size: 35px;
}
.descrived {
	width: 700px;
	float: left;
}
.descrived h2{
	color: #ff7200;
}

img {
	height: 250px;
	width: 450px;
	margin-left: 100px;
}

.logo {
	color: #ff7200;
	font-size: 35px;
	padding-left: 20px;
	float: right;
	padding-top: 10px;
}
.logo a {
	text-decoration: none;
	color: #ff7200;
}