body {
	background-color: #a128b6;
	font-family: Arial;
}
.tab {
	background-color: #fff;
	width: 900px;
	margin: 45px 300px;
}
h1 {
	text-align: center;
}
span {
	color: red;
}
form {
	padding: 50px;
}
.list {
	padding-top: 0px;
	padding-left: 40px;
}
input {
	width: 700px;
	height: 60px;
}
button {
	background-color: #000;
	color: #fff;
	border-radius: 30px;
	height: 50px;
	width: 120px;
	font-size: 18px;
}
